1)  What are data structures, and why are they important ?
  
    -> Data Structures are special formats for storing , Organising & Accessing the data. they are important because data manipulatiions ( Adding,removing & Modifing the elements),Optimising the search & Sorting operations

2)  Explain the difference between mutable and immutable data types with
    examples ?
    
    -> 1) Mutable Data Type can modify after their creation operations like adding or removing elements without any affect of the  memory location. List , Dictionary & Sets are the Mutable data types. 2) Immutable Data Type cannot be modifiy after their creation. Tuples, String, float & Integers are Immutable data types.

3)   What are the main differences between lists and tuples in Python

    -> List :- these are Mutable data types , which can be defined in " [ ] ",
                It is can be sutiable to modify the Data structure Frequently ( Modify , Update & Reorder the elements )
       Tuples :- These are Immutable data types, Which can be defined in " ( )",
                 These can be suitable when the Data is Fixed & Unchangable.

 4)   Describe how dictionaries store data

     -> Dictionaries in Python store data using key & value pairs.
        Keys: These are unique identifiers used to access values. Keys must be immutable (e.g., strings, numbers, tuples)
        Values: These can be any data type (strings, lists, even other dictionaries).
        Dictionaries use a hash table, where keys are converted into hash values to determine where the associated value is stored
5)    Why might you use a set instead of a list in Python
  
     -> We can use a set instead of a list when you need unique element.

6)   What is a string in Python, and how is it different from a list.

     -> A string in Python is a sequence of characters enclosed in quotes, whereas a list is a collection of elements (which can be of different data types).Use a string when dealing with text or immutable sequences of characters.Use a list when working with a collection of elements that need to be modified dynamically.

7)    How do tuples ensure data integrity in Python

      -> they are immutable, means once they are created, their values cannot be altered, added, or removed. This makes them ideal for situations where data consistency and protection.

8)    What is a hash table, and how does it relate to dictionaries in      Python

     -> A hash table is a data structure that stores key-value pairs efficiently by using a hash function to map keys to indices in an array. This allows for insertions, and deletions, typically with an time complexity

9)    Can lists contain different data types in Python

      -> Lists can contain different data types within the same list. This flexibility makes lists incredibly powerful for storing heterogeneous data.

10)   Explain why strings are immutable in Python

    -> Strings in Python are immutable, means once a string is created, its contents cannot be changed. This improves performance, security, and consistency in program.

11)   What advantages do dictionaries offer over lists for certain tasks

    -> Dictionaries uses Hash table to retrive the data faster when compared to List. They store the data in the form of Keys & Values.it allow the data  modifications without affecting the structure. Keys must be unique, ensuring better data integrity.

12)  Describe a scenario where using a tuple would be preferable over a list

    -> A tuple is preferable over a list when you need to ensure that data remains unchanged after it is assigned. A great example is when you’re working with constant values or function return values that should not be accidentally modified.

13)  How do sets handle duplicate values in Python

    -> It can automatically remove duplicate values when they are created or updated. This makes them useful for storing unique elements without extra effort.

14)  How does the “in” keyword work differently for lists and dictionaries

    -> in keyword is used to check whether an element/Value  exists within a list or a dictionary. In Lists – checkes if a specific value exist. in Dictionary - Checks if a key exists.

15)   Can you modify the elements of a tuple? Explain why or why not

    -> We cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.We can modify the elements when it contain mutable object like Lits.

16)   What is a nested dictionary, and give an example of its use case.

    -> A nested dictionary that contains another dictionary as one or more of its values. This allows for a hierarchical structure of data, making it useful for storing complex.


17)  Describe the time complexity of accessing elements in a dictionary

    -> Accessing elements in a Python dictionary is highly efficient due to its underlying hash table implementation.

18)  In what situations are lists preferred over dictionaries

    -> Lists are preferred over dictionaries in use case like  where ordering, sequential processing, and handling duplicate values are essential.

19) Why are dictionaries considered unordered, and how does that affect data retrieval.

    -> it considered as an unordered because they store key-value pairs using a hash table, which does not guarantee a specific order when inserting or retrieving items. From, since Python 3.7 Version, dictionaries maintain insertion order—meaning elements are stored in the order they were added.

20) Explain the difference between a list and a dictionary in terms of data retrieval.

    -> A list and a dictionary in Python have different approaches to data retrieval, based on indexing &  key-Value.Lists are best when working with sequences of values. Dictionaries are best when you need structured data using key-value pairs.

In [1]:
# Write a code to create a string with your name and print it ?

Name = " Yaswanth Krishna"
print(Name)

 Yaswanth Krishna

In [2]:
# Write a code to find the length of the string "Hello World"

Name = "PWSKILLS"
length = len(Name)
print(length)

8

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming"

Text = "Python programming"
slice = Text[:3]
print(slice)

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase

text="pwskills"
uppercase=text.upper()
print(uppercase)

PWSKILLS

In [6]:
#  Write a code to replace the word "apple" with "orange" in the string "I like apple"

A="I Like Apple"
Change=A.replace("Apple","Orange")
print(Change)

I Like Orange

In [7]:
# Write a code to create a list with numbers 1 to 5 and print it

Numbers = [1,2,3,4,5,6]
print(Numbers)

[1, 2, 3, 4, 5, 6]

In [8]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]

number=[1,2,3,4,5]
number.append(10)
print(number)

[1, 2, 3, 4, 5, 10]

In [10]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

number=[1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

In [17]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [18]:
# Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [19]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it

my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [23]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [24]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)

numbers = (10, 20, 5, 15)
min_value = min(numbers)
print(min_value)

5

In [25]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index("cat")
print(index_of_cat)

1

In [26]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [28]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [29]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [30]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [31]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [32]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [33]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it

person = {
    "name": "Yaswanth",
    "age": 35,
    "city": "Hyderabad"
}
print(person)

{'name': 'Yaswanth', 'age': 35, 'city': 'Hyderabad'}

In [34]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25

person = {'name': 'Yaswanth', 'age': 35}
person['country'] = 'USA'
print(person)

{'name': 'Yaswanth', 'age': 35, 'country': 'USA'}

In [35]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [36]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [37]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary!")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary!

In [38]:
# Write a code to create a list, a tuple, and a dictionary, and print them all


my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [39]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result ( replaced)

random_numbers = [50,5,25,75,89,64]
random_numbers.sort()
print(random_numbers)

[5, 25, 50, 64, 75, 89]

In [40]:
# Write a code to create a list with strings and print the element at the third index

words = ["apple", "banana", "cherry", "orange", "blueberry"]
third_element = words[3]
print(third_element)

orange

In [41]:
# Write a code to combine two dictionaries into one and print the result

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [42]:
# Write a code to convert a list of strings into a set

string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}